@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  align-items: center;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
  .node-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
.family-tree-node {
  width: 100%;
  height: auto;
  text-align: center;
}

.family-tree-node ul {
  padding-top: 20px;
  position: relative;
  transition: 0.5s;
}
.family-tree-node li {
  display: inline-table;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 10px;
  transition: 0.5s;
}
.family-tree-node li:before,
.family-tree-node li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;
}
.family-tree-node li:after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
.family-tree-node li:only-child:after,
.family-tree-node li:only-child::before {
  display: none;
}
.family-tree-node li:only-child {
  padding-top: o;
}
.family-tree-node li:first-child:before,
.family-tree-node li:last-child:after {
  border: 0 none;
}
.family-tree-node li:last-child:before {
  border-right: 1px solid #ccc;
  border-radius: 0px 5px 0px 0px;
}
.family-tree-node li:first-child:after {
  border-radius: 5px 0px 0px 0px;
}
.family-tree-node ul ul {
  border-top: 1px solid #ccc;
}
.family-tree-node ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
/* .family-tree-node ul ul::after{
    content: "";
  position: absolute;
  top: 0;
  right: auto;
  left: auto;
  border-top: 1px solid #ccc;
  width: 50px;
  height: 2px;
} */
.family-tree-node {
  /* border: 1px solid #ccc; */
  padding: 10px 0;
  display: -ms-inline-grid;
  border-radius: 5px;
  text-decoration-line: none;
  transition: 0.5s;
}
.family-tree-node img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 100px;
  margin: auto;
}
.family-tree-node a span {
  border: 1px solid #ccc;
  color: #666;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500px;
}
.children-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.employee-details{
  font-size: 12px;
  padding-top: 10px;
  font-weight: 600;
}.employee-role{
  font-size: 10px;
  padding-top: 10px;
  font-weight: 550;
  color: #797979;
}

/* hover section */

 .family-tree-node li a:hover, .family-tree-node li a:hover img,.family-tree-node li a:hover span,.family-tree-node li a:hover+ul li a
{
    background:#c8e4f8 ;
    color: #000;
    border: 1px solid #94a0b4;
    box-shadow: 0px 0px 8px -5px #5f5f5f;
}
.family-tree-node li a:hover+ul li:after, .family-tree-node li a:hover+ul li:before,.family-tree-node li a:hover+ul:before,.family-tree-node li a:hover+ul ul:before
{
    border-color:#94a0b4;
} 

/* .family-family-tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.family-family-tree-node-node {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  position: relative;
}
 
.node-content {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;

}
 
.children-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
 
.children-container > * {
  flex: 1;
}
 
.family-family-tree-node-node::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  width: 1px;
  height: 10px;
  background-color: #000;
}
 
.family-family-tree-node-node:first-child::before {
  display: none; 
 } */
