*{
    padding: 0;
    margin: 0;
    /* #EFF0F6 */
}
.main{
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.left-layout{
    display: flex;
    flex-direction: column;
    width: 12%;
    background-color: #18496a;
    padding: 10px;
}
.headerLayout{
    height: 90px;
    background-color: #2A85C3;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    height: 88vh;
    width:100%;
}
.Create-user-button{
    margin: 10px;
    padding: 15px;
    background-color: aliceblue;
    width: 90%;
    text-align: center;
}
.Dash-board-button{
    margin: 10px;
    padding: 15px;
    background-color: aliceblue;
    width: 90%;
    text-align: center;
}
.right-layout{
    margin: 3%;
    width: 100%;
    text-align: center;
}
.level-0{
    margin: auto;
    background-color: red;
    width: 80%;
}
.user-management{
    width: 100%;
    height: 14vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h5{
    background: antiquewhite;
    font-size: 20px;
}
.user-management-h3{
    background-color: antiquewhite;
}
.createuserbutton{
    background: #adb2b6;
    padding: 12px;

}
 
/* colour styles */
.mycolours{

    background-color:  #b9dbf1;
    background-color: #0b4d7a;
    background-color: #052b45;


    background-color:  #29558A;
    /* header */
    background-color:  #d5dbe6;
    background-color:  #6b8bb5;
    background-color:  #9aafcc;
    /* main metlone */
    background-color:  #01B2D6;
    background-color:  #f5f5f5;
    background-color:  #fff;
    background-color:  rgba(1, 178, 214, 0.2);

    /* button  */
    background-color: #f7f7f7;
    color: #72767a;
    color: #00000099;

}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Style for table header */
  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style for table cells */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  /* Alternate row color for better readability */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  